body {
    font-family: sans-serif;
    text-align: center;
  }

  .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    /* background: #3498db;
    color: #fff;
    border-radius: 5px;
    font-family: Hannotate SC;
    */
    text-decoration: none;
    background: url(../images/heart02.png) no-repeat ;
	  background-position: 20px;
	  background-size: 30px auto;
    color: transparent;   /* 文字を透明にする */
  }
  /* モーダル全体を隠す */
  .remodal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
  }

  .remodal img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .remodal-cancel {
    margin-top: 15px;
    padding: 8px 15px;
    background: #aaa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .remodal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  #m1,
  #m2,
  #m3 {
    margin-top: 10px;
  }